.header {
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: $background-dark;
  color: $primary;
  padding: 10px 25px;
  display: flex;
  align-items: center;

  .logo {
    margin-right: 25px;
    
    a {
      display: flex;
      align-items: center;
    }

    span {
      display: block;
      margin-left: 10px;
    }
  }

  ul {
    display: flex;
    align-items: center;

    li {
      margin: 0 10px;
    }

    &.left {
      margin-right: auto;

      color: $white;
    }
  }
}