.widget {
  .sidebar & {
    background-color: $background;
    color: $white;
    box-shadow: 0 0 10px 3px rgba($black, .05);
    border-top: 2px solid $primary;
    padding: 15px;
  }

  &-title {
    font-size: 20px;
    
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  & + & {
    margin-top: 15px;
  }

  &-list {
    .company-list & {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    &-item {
      display: flex;
      align-items: flex-start;
      
      &:not(:last-child) {
        margin-bottom: 15px;
      }

      .company-list & {
        padding: 15px;
        flex: 0 0 250px;
        display: flex;
        flex-direction: column;

        &:last-child {
          margin-bottom: 15px;
        }
      }

      img {
        flex: 0 0 15px;
        margin-right: 10px;
      }

      a {
        flex: 1 1 auto;
        color: inherit;
        text-decoration: none;
        display: flex;
        align-items: center;
        transition: 200ms ease;

        &:hover {
          text-decoration: underline;
        }

        &.large-link {
          flex-wrap: wrap;
          text-align: center;
          border-radius: 7px;
          padding: 25px 15px;
          text-decoration: none;
          transition: 200ms ease;
          background-color: $background;
          color: $white;
          flex: 1 1 100%;

          .image-mask {
            &-wrapper {
              flex: 0 0 100%;
            }
          }

          .name {
            margin: 10px 0;
            font-size: 24px;
            color: $white;

            &:last-child {
              margin-bottom: 0;
            }
          }

          .name,
          .likes {
            flex: 0 0 100%;
          }

          &:hover {
            box-shadow: 0 0 30px 3px rgba($black, .5);
          }
        }

        .name {
          margin-right: auto;
        }

        .followers {
          .word {
            .sidebar & {
              display: none;
            }
          }
        }
      }
    }
  }
}
