
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$white: #fff;
$black: #000;
$primary: #ff3004;
$background: #222222;
$background-dark: #1a1a1a;